* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  color: aliceblue;
}

#product-preview {
  background-color: crimson;
}
#plans {
  background-color: rgb(233, 124, 145);
}
.section-title {
  color: #2ddf5c;
  font-family: serif;
}
